body{ text-align:left;
	  margin-top:0;
	}
/*应用于普通页面布局*/
.txt-gray{ font-family:Arial, Helvetica, sans-serif;
      font-size:12px;
	  color:#444444;
	  }
.txt-gray:link{ text-decoration:none;}
.txt-gray:visited{ text-decoration:none;}
.txt-gray:hover{ color:#666666; text-decoration:none;}
.txt-gray:actived{ text-decoration:none;}
/*应用于灰色字符及链接*/
.txt-blue{ font-family:Arial, Helvetica, sans-serif;
      font-size:12px;
	  color:#00418F;
	  }
.txt-blue:link{ text-decoration:none;}
.txt-blue:visited{ text-decoration:none;}
.txt-blue:hover{ color: #FF3300; text-decoration:none;}
.txt-blue:actived{ text-decoration:none;}
/*应用于蓝色字符及链接*/
.table-three-gray{border-bottom:1px solid #CECECE;border-left:1px solid #CECECE;border-right:1px solid #CECECE; }
.table-left-right-gray{ border-left:1px solid #CECECE;border-right:1px solid #CECECE; }
.table-bottom-gray{border-bottom:1px solid #CECECE;}
.table-right-bottom-gray{border-bottom:1px solid #CECECE; border-right:1px solid #CECECE; }